.wrapper {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .header {
        display: flex;

        .btnheader {
            display: flex;
            align-items: center;
            gap: 8px;
            padding: 4px 8px;
            color: #0f0f0f;

            .icon {
                display: flex;
                align-items: center;
                font-size: 24px;
                font-weight: 200;
            }

            .text {
                font-size: 16px;
                text-transform: uppercase;
                font-weight: 500;
            }
        }
    }

    .title {
        display: block;
        margin-top: 52px;
        text-align: center;
        font-size: 30px;
        font-weight: 600;
    }

    .action {
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin-top: 40px;

        .item {
            opacity: 0.4;
            display: flex;
            align-items: center;
            width: 100%;
            padding: 10px 70px;
            cursor: pointer;
            text-transform: capitalize;
            font-weight: 500;
            gap: 12px;

            .iconitem {
                display: flex;
                align-items: center;
                font-size: 24px;
                font-weight: 300;
            }

            .info {
                font-size: 18px;
            }
        }
    }

    .logout {
        padding: 0 28px;
        margin-bottom: 32px;
        display: flex;

        .wlogout {
            display: flex;
            align-items: center;
            gap: 6px;
            padding: 12px 20px;
            cursor: pointer;
            border-radius: 12px;
            background-color: #fff;
            color: red;

            .icon {
                display: flex;
                align-items: center;
                font-size: 28px;
            }

            .name {
                font-size: 18px;
                font-weight: 600;
            }
        }
    }
}

.active {
    background-color: #fff;
    border-right: 3px solid #349fe2;
    opacity: 1 !important;
}
