.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    color: #fff;
    font-size: 20px;
    padding-left: 20px;
    font-weight: 500;
    gap: 6px;

    .avatar {
        border-radius: 50%;
    }

    .title {
        font-size: 20px;
    }
}
