.wrapper {
    color: #fff;
    // border: 1px solid red;
    padding: 4px 20px;
    cursor: pointer;
    position: relative;

    .icon {
        font-size: 26px;
        position: relative;

        .number {
            display: flex;
            align-items: center;
            justify-content: center;
            font-style: none;
            width: 15px;
            height: 15px;
            border-radius: 50%;
            font-size: 14px;
            top: -2px;
            right: -6px;
            position: absolute;
            background-color: red;
        }
    }
}
