.wrapper {
    display: grid;
    width: 100%;
    height: 100vh;
    grid-template-columns: 1fr 3fr;

    .left {
        grid-column: 1/2;
        background-color: #f2f2f2;
    }

    .right {
        background-color: #fff;
        grid-column: 2/3;
        // border: 1px solid red;
        padding: 20px 28px;
        height: 100vh;

        .notification {
            width: 100%;
            height: 100%;
            border: 1px solid greenyellow;

            .title {
                font-size: 24px;
            }

            .list {
                border: 1px solid red;
                display: grid;
                grid-template-columns: 1fr 1fr;
            }
        }
    }
}
