.wrapper {
    display: grid;
    width: 100%;
    grid-template-columns: 2fr 7fr;

    .left {
        grid-column: 1/2;
        background-color: #fff;
        border-right: 1px solid #e2e2e2;
    }

    .right {
        background-color: #fff;
        grid-column: 2/3;
        padding: 20px 28px;
        height: 100vh;
        overflow-y: scroll;
    }
}
