.wrapper {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 3fr;

    .left {
        grid-column: 1/2;
        background-color: #f2f2f2;
    }

    .right {
        background-color: #fff;
        grid-column: 2/3;
        padding: 20px 28px;
        height: 100vh;
        overflow-y: scroll;
    }
}
